<ul class="list-group">
  <li class="list-group-item active" aria-current="true">
    <h3 class="list__item--h3">
      {{ title }}
    </h3>
  </li>
  @for (contact of filterContactsByLetter(title); track contact.id) {
  <li class="list-group-item">
    <div class="d-flex justify-content-between">
      <p class="list__item--p">{{ contact.nome }}</p>
      <p class="list__item--p">{{ contact.telefone }}</p>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <button type="button" class="btn btn__outline--edit">
          <i class="bi bi-pencil"></i> Editar
        </button>
        <button type="button" class="btn btn__outline--delete">
          <i class="bi bi-x-lg"></i> Deletar
        </button>
      </div>
    </div>
  </li>
  }
</ul>
<hr />
