@use "./styles/variables" as *;
@import "bootstrap/dist/css/bootstrap.min.css";

img {
  width: 100%;
}
hr {
  background: linear-gradient(-45deg, $angular-red-dark 0%, $angular-red 50%);
  border: none;
  height: 2px;
  opacity: 1;
}
