<div>
  <a href="#" class="form__buttons--a" routerLink="/contact-list">
    <i class="bi bi-arrow-left"></i>
    Voltar
  </a>
  <h3 class="form__text--h3">Adicionar contato</h3>
  <form [formGroup]="contactForm" (ngSubmit)="createContact()">
    <fieldset class="d-flex flex-column gap-4">
      <div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-person"></i>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Nome"
            aria-label="Nome"
            aria-describedby="addon-wrapping"
            formControlName="nome"
          />
        </div>
        @if (contactForm.get('name')?.errors &&
        contactForm.get('name')?.touched) {
        <span class="form__text--error">Informe um nome válido</span>
        }
      </div>
      <div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-telephone"></i>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="addon-wrapping"
            formControlName="telefone"
          />
        </div>
        @if (contactForm.get('telphone')?.errors &&
        contactForm.get('telphone')?.touched) {
        <span class="form__text--error">Informe um telefone válido</span>
        }
      </div>
      <div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-envelope"></i>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="addon-wrapping"
            formControlName="email"
          />
        </div>
        @if (contactForm.get('email')?.errors?.['required'] &&
        contactForm.get('email')?.touched) {
        <span class="form__text--error">Campo obrigatório</span>
        }
        <!--  -->
        @if (contactForm.get('email')?.errors?.['email'] &&
        contactForm.get('email')?.touched) {
        <span class="form__text--error">Formato de email inválido</span>

        }
      </div>
    </fieldset>
    <hr />
    <fieldset class="d-flex flex-column gap-4">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
          <i class="bi bi-calendar"></i>
        </span>
        <input
          type="date"
          class="form-control"
          placeholder="Data de nascimento"
          aria-label="Data de nascimento"
          aria-describedby="addon-wrapping"
          formControlName="birth"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
          <i class="bi bi-link"></i>
        </span>
        <input
          type="url"
          class="form-control"
          placeholder="Adicione o URL da página"
          aria-label="Adicione o URL da página"
          aria-describedby="addon-wrapping"
          formControlName="url"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
          <i class="bi bi-journals"></i>
        </span>
        <textarea
          type="text"
          class="form-control"
          placeholder="Coloque observações nesse espaço.  Exemplo: “Instrutora da academia “Nova Imagem”, amiga da Júlia”."
          aria-label="Coloque observações nesse espaço.  Exemplo: “Instrutora da academia “Nova Imagem”, amiga da Júlia”."
          aria-describedby="addon-wrapping"
          formControlName="observations"
        ></textarea>
      </div>
    </fieldset>
    <fieldset
      class="form__buttons--container w-75 btn-group"
      role="group"
      aria-label="Basic outlined example"
    >
      <button
        type="button"
        class="btn form__buttons--delete"
        (click)="submitCancel()"
      >
        <i class="bi bi-x-lg"></i> Cancelar
      </button>
      <button
        type="submit"
        [ngClass]="contactForm.invalid ? 'form__buttons--invalid' : ''"
        class="btn form__buttons--edit"
        [disabled]="contactForm.invalid"
      >
        <i class="bi bi-cloud-plus"></i>
        Salvar contato
      </button>
    </fieldset>
  </form>
</div>
