<app-input-search (getInputText)="getInputSearchValue($event)" />
<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn btn__outline--new" (click)="resetAgenda()">
      <i class="bi bi-trash"></i>
      Apagar lista de contatos
    </button>
    <button
      type="button"
      class="btn btn__outline--new"
      routerLink="/form"
      routerLinkActive="router-link-active"
    >
      <i class="bi bi-person-add"></i>
      Adicionar novo contato
    </button>
  </div>
</div>

@for (letter of alphabet; track letter) {
<app-list-group
  [letter]="letter"
  [searchValue]="inputSearchValue"
></app-list-group>
}

<!-- [agenda]="agendaJson" -->
